body {
    font-family: sans-serif;

}

p {
    background-color: #858585;

}

h1 {
    background-color: #ff5858;
    width: 50%;
    height: 100px;
    padding: 15px;
}

h2 {
    margin: 20px;
    padding: 20px;
    background-color: #0000ff;
    
}

h3 {
    background-color: #b1be39;
}