* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input:checked+p {
    background-color: red;
}

input:not(checked)+p {
    background-color: rgba(0, 213, 255, 0.362);
}

p:not(.meio) {
    color: blue;
}

ul li:nth-child(even) {
    background-color: blueviolet;
}

ul li:nth-child(odd) {
    background-color: rgb(11, 99, 17);
}

ul li:nth-child(3n) {
    background-color: brown;
}

ul li:nth-child(3n+5) {
    background-color: rgb(217, 255, 0);
}