html {
    font-size: 62.5%;
    /* font-size 1em = 10px on default browser settings */
    /* geralmente é 16px se você não mudar para 62.5%*/
}

* {
    margin: 0;
    padding: 0;
}

.pai {
    font-size: 50px;
}

.pai p {
    font-size: 0.5em;
    font-size: 2.5rem;
    /* são o mesmo valor*/
}

.texto {
    font-size: 2rem;
    /*
               32px
    */
}

.bloco {
    width: 50vw;
    height: 30rem;
    background-color: yellow;
}

.primeira-parte {
    height: 100vh;
}

.segunda-parte {
    height: 100vh;
}