* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pai h1+p {
    color: blue;
}

.pai p+h1 {
    color: yellow;
}

.pai h1~p {
    color: red;
}

.pai2 .dois+.tres {
    color: firebrick;
}

.pai2 .dois~.quatro {
    color: yellowgreen;
}

[meu-atributo="error"] {
    color: blue;
}

[checked] {
    width: 100px;
    height: 100px;
}